#nav_bar{
position: absolute;
font-weight: bold;
color: rgb(128,200,232);
font-size: 35px ;
padding: 20px 0px 321px 8.6%;
}
.nav{
  
  padding-top: 15px;
}
#nav_bar1{
  position: absolute;
  font-weight: lighter;
  color: rgb(128,200,232);
  font-size: 35px;
  padding: 20px 0px 321px 16%;
}
#def{
  padding: 50px 0px 380px 8%;
  position: absolute;
  opacity: 0.7;
  font-size: 25px;
  text-transform: uppercase;
}
p{
  padding: 80px 0px 380px 8%;
  position: absolute;
  opacity: 0.5;
  font-size: 18px;
}
.table{
  box-shadow: -5px -2px 5px 2px gray;
  position: absolute;
  padding: 5px 4px 10px 4px;
  margin: 10% 17px 0px 17px;
  z-index: 1;
  border-radius: 5px;
  background-color: rgb(255,255,255);
  
th,td{
  width: 8%;
  line-height: 20px;
  padding: 5px 0px;
  font-size: x-large;
  font-style: bold;

}
table, th,td{
  margin-top: 1%;
  border-collapse: collapse;
  border: 1px solid black;
}
}

body{
  background-color: rgb(255,255,255);
}
#btn{
  background-color: rgb(237,147,54);
  color: white;
}